/* Give the page's content some space on the sides */
p, #videoDiv {
    margin: 3vh 16vw;
}

/* Give the video area some character */
#videoDiv {
    padding: 3vh 3vw;
    background-color: paleturquoise;
}

/* Even out the spacing */
#videoDiv h4 {
    margin: 0 0 3vh 0;
}

/* Aesthetics */
video, #videoDiv {
    border-radius: 8px;
}