/* Image formatting */
img {
    display: block;
    margin: auto;
    width: 100%;
}

#ifIHadOneDiv {
    margin: 2vh 16vw;
}


/* Text formatting */
p {
    margin: 8px 16vw;
    text-align: center;
}
h3 {
    text-align: center;
}

/* Mailing-list form styling */
#formDiv {
    border: green;
    border-style: solid;
    border-width: 2px;
    margin: 8px 16vw;
    background-color: lavender;
}

#formDiv h4 {
    margin-top: 16px;
}

#formDiv > * {
    text-align: left;
    margin: 4px;
}

#form > * {
    margin: 0;
}

#form > input {
    margin-bottom: 8px;
}
